<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/default.css">
    <link rel="stylesheet" href="/styles/welcome.css">
    <link rel="stylesheet" href="/styles/index.css">
    <link rel="stylesheet" href="/styles/modals.css">
    <title>Dashboard</title>
</head>
<body>
    <div class="container">
        <%- include('../header') %>
        <%- include('./welcome') %>
        <div class="main">
            <%- include('./folders') %>
            <%- include('./files') %>
        </div>
    </div>
    <%- include('../modals/new-folder') %>
    <script src="/scripts/modal.js"></script>
    <script src="/scripts/upload.js"></script>
</body>
</html>