<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/modals.css">
    <title>Dashboard</title>
</head>
<body>
    <div class="container">
        <div class="header">
            <h1>This is <%= user.username %> folders</h1>
            <a href="/logout">Logout</a>
        </div>
        <div class="main">
            <div class="folders">
                <h2>Folders</h2>
                <% folders.forEach((folder) => { %>
                    <div class="folder">
                        <h2><a href="/folders/<%= folder.id %>"><%= folder.name %></a></h2>
                    </div>
                <% }); %>
            </div>
            <div class="files">
                <h2>Files</h2>
                <% files.forEach((file) => { %>
                    <div class="file">
                        <div class="file-content">
                            <h3><a href="/files/<%= file.id %>"><%= file.name %></a><a href="/file/<%= file.id %>/download">Download</a></h3>
                        </div>

                        <div class="file-actions">
                            <form action="/files/<%= file.id %>/delete" method="POST">
                                <button type="submit">Delete</button>
                            </form>
                        </div>
                    </div>
                <% }); %>
            </div>
            <div class="create-folder-button">
                <button onclick="openNewFolderModal()">Create New Folder</button>
            </div>
            <div class="upload-file">
                <h2>Upload New File</h2>
                <form id="upload-file-form" action="/uploadFile" method="POST" enctype="multipart/form-data">
                    <input id="upload-file-input" type="file" name="file" required>
                    <!-- <button type="submit">Upload File</button> -->
                </form>
            </div>
        </div>
    </div>
    <%- include('../modals/new-folder') %>
    <script src="/scripts/modal.js"></script>
    <script src="/scripts/upload.js"></script>
</body>
</html>