<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/styles/default.css">
  <link rel="stylesheet" href="/styles/welcome.css">
  <link rel="stylesheet" href="/styles/folder.css">
  <link rel="stylesheet" href="/styles/modals.css">
  <title>Folder</title>
</head>

<body>
  <div class="container">


    <%- include('../header') %>
    <%- include('./welcome') %>
    <div class="main">
      <%- include('./files') %>
    </div>
      <!-- <script src="/scripts/modal.js"></script> -->
      <%- include('../modals/file-delete-modal') %>
      <%- include('../modals/folder-delete-modal') %>
  </div>
  <script src="/scripts/modal.js"></script>
  <script src="/scripts/upload.js"></script>
</body>

</html>